.pagination{
    justify-Content: center;
    margin-top: 50px;
    padding-bottom: 200px;

}

.page-link {
    position: relative;
    display: block;
    color: #868686;
    text-decoration: none;
    background-color: #1f1e22 !important;
    border: 1px solid #dee2e6;
    z-index: 3;
    border-color: #ffffff !important;
}