.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: transparent;
    max-width: 38vw;
    margin: auto;
    border: none;
}

.modal-body{
    padding: 10px;
}