.di-dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 15px;
    border: none;
    width: 60px;
    
}

.di-dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 25px;
    float: left;
}

.di-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.di-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.di-dropdown-content a:hover {background-color: #ddd;}

.di-dropdown:hover .di-dropdown-content {display: block;}

.di-dropdown:hover .di-dropbtn {background-color: #a8a8a88f;}
