.page-footer {
    background-color: #3b3a3e;
    // position: absolute;
    margin-bottom: 0;
    width: 100%;
    z-index: 1;
}

.col-md-6 {
    color: #e1e3e6;
}

.text-uppercase {
    color: #e1e3e6;
}

.text-lovercase {
    color: #e1e3e6;
}

.footer-copyright {
    color: #e1e3e6;
}

.list-unstyled {
    margin-top: 15px;
}

.footer-btn{

}

.footer-left-a{
    color: #fff !important;
}

.footer-left-a:hover{
    color:#7e7e7e !important;
}

.footer-right-a{
    color: #fff !important;
}

.footer-right-a:hover{
    color:#7e7e7e !important;
}