.page-footer {
    background-color: #212529;
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    z-index: 1;
}

.col-md-6 {
    color: white;
}

.text-uppercase {
    color: white;
}

.text-lovercase {
    color: white;
}

.footer-copyright {
    color: white;
}

.list-unstyled{
    margin-top: 15px;
}
