.card {
    background-color: #5d5f61;
    box-shadow: 0px 0px 0px grey;
    -webkit-transition: box-shadow .2s ease-out;
    box-shadow: .8px .9px 3px grey;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;    
    height: 100%;

    &_delete{
        position: absolute;
        top: 10px;
        right: 10px;
        
    }

    &_info {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &_right {
            min-width: 39%;
            padding-right: 10px;
            .form_select{
                margin-top: 25px;
            }
        }

        &_left {
            display: flex;
            flex-direction: column;

            &__image {
                width: 320px;
                height: 320px;

            }
        }
        &_title {
           // max-width: 50%;
        }
    }

    &_buttons {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }

    .btn-primary {
        display: inline-block;
        box-sizing: border-box;
        padding: 5px 25px;
        margin: 10px 15px 15px 12px;
        outline: none;
        border: 1px solid #fff;
        border-radius: 50px;
        height: 46px;
        line-height: 46px;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        color: #444;
        background-color: #fff;
        box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
        cursor: pointer;
        user-select: none;
        appearance: none;
        touch-action: manipulation;
        vertical-align: top;
        transition: box-shadow 0.2s;
    }

    .btn-primary:focus:not(:focus-visible) {
        border: 1px solid #4c51f9;
        outline: none;
    }

    .btn-primary:hover {
        transition: all 0.2s;
        box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    }

    .btn-primary:active {
        background-color: #808080;
    }

    .btn-primary:disabled {
        background-color: #eee;
        border-color: #eee;
        color: #444;
        cursor: not-allowed;
    }
}

.card:hover {
    //opacity: 1;
    box-shadow: 1px 8px 20px grey;
    -webkit-transition: box-shadow .2s ease-in;
}